




/* this css file contains the font, color of front and background of the website */
body{

    font-family: "Roboto", sans-serif;
    color: rgb(218, 103, 9);
    background-color: rgb(21, 25, 255);

    

    
}




